:root{
    --color-blaco:#ffffff;
    --color-negro:#333;
    --azul-boton: #007BFF;
    --azul-boton-hover: #0056b3;
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:var(--color-blaco);
    transition: background-color 0.5s ease;
}
/*Menú de la isla del color*/
.menu {
    position: fixed;          /* siempre arriba */
    top: 0;
    left: 0;
    width: 50%;             
    justify-content: center;
    text-align: center;
    background-color: var(--color-blaco);
    border-bottom: 1px solid var(--color-blaco);
    border-radius: 10px;
    padding: 10px 0;
    z-index: 1000;            /* queda encima de todo */
}

/* Lista horizontal */
.menu ul {
    display: flex;            /* coloca los <li> en fila */
    justify-content: center;  /* centra las opciones */
    list-style: none;         /* quita viñetas */
    margin: 0;
    padding: 0;
}

/* Estilo de cada opción */
.menu li {
  margin: 0 15px;           /* espacio entre opciones */
}

.menu a {
    text-decoration: none;
    color:var(--color-negro);
    font-weight: 500;
    padding: 5px 10px;
    transition: color 0.3s ease, border-bottom 0.3s ease;
}

/* Hover estilo buscador */
.menu a:hover {
    color: var(--azul-boton-hover);           /* cambia color */
    border-bottom: 2px solid var(--azul-boton); /* subrayado tipo pestaña */
}

