:root{
    --tesoro:#d4af37;
    --madera:#984c4c;
    --sangre:#8b0000;
    --blanco:#ffffff;
    --negro:#222;
    --azul-boton: #007BFF;
    --azul-boton-hover: #0056b3;
    --pergamino:#fdf6e3;
}
/* Fondo general estilo pergamino */
body {
    font-family: 'Cinzel Decorative', serif;
    background-color: var(--pergamino);
    color: var(--negro);
    margin: 0;
}

/* Menú pirata */
.menu {
    position: fixed;
    top: 0;
    width: 50%;
    background-color: var(--pergamino);
    padding: 10px 0;
    z-index: 1000;
    border-radius: 0 0 10px 10px;
}

.menu ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.menu li {
    margin: 0 20px;
}

.menu a {
    text-decoration: none;
    color: var(--color-negro);
    font-weight: 600;
    transition: color 0.3s ease, border-bottom 0.3s ease;
}

.menu a:hover {
    color: var(--azul-boton-hover);
    border-bottom: 2px solid var(--tesoro);
}

/* Header estilo pirata */
header {
    text-align: center;
    padding: 50px 20px 40px 20px;
    background-color: var(--madera);
    color: var(--blanco);
    box-shadow: inset 0 0 20px var(--negro);
}

header h1 {
    font-size: 3rem;
    text-shadow: 2px 2px var(--tesoro);
    margin-bottom: 20px;
}

header p {
    font-size: 1.2rem;
    max-width: 600px;
    margin: 0 auto;
    line-height: 1.6;
}