/* Estilos globales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables globales piratas */
:root{
    --pergamino:#fdf6e3;
    --tesoro:#d4af37;
    --azul-boton: #007BFF;
    --azul-boton-hover: #0056b3;
    --blanco:#ffffff;
    --negro:#222;
    --sangre:#8b0000;
    --madera:#984c4c;
}

/* Fondo y tipografía pirata */
body {
    font-family: 'Cinzel Decorative', serif; /* tipografía antigua */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--pergamino);
    background-image: url('https://www.transparenttextures.com/patterns/aged-paper.png');
    color: var(--negro);
    transition: background-color 0.5s ease;
}

/* Contenedor estilo pergamino */
.container {
    text-align: center;
    padding-top: 20px;
    margin-top: 1rem;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.9);
}

/* Paleta */
.palette-style{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.color-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.color-label{
    position: absolute;
    top: -25px;
    font-weight: bold;
    color: var(--negro);
    text-shadow: 1px 1px var(--tesoro);
}

.color-box{
    width: 100px; 
    height: 100px;
}

/* Textos */
h2 {
    margin-bottom: 20px;
    color: var(--negro);
    text-shadow: 1px 1px var(--tesoro);
}
p {
    font-size: 18px;
    margin-bottom: 20px;
}

/* Icono copiar */
.copy-icon {
    cursor: pointer;
}
.copy-icon:hover {
    stroke: var(--sangre);
}

#color-code {
    font-weight: bold;
    color: var(--negro);
}

/* Botón estilo tesoro */
button {
    padding:10px 20px;
    margin: 20px;
    font-size: 16px;
    color:var(--blanco);
    background-color:var(--tesoro);
    border-radius: 6px;
    cursor: pointer;
    border:none;
    box-shadow: 3px 3px 0px var(--negro);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color:var(--sangre);
    transform: scale(1.05);
}

/* Menú pirata */
.menu {
    position: fixed;
    top: 0;
    width: 50%;
    background-color: var(--pergamino);
    padding: 10px 0;
    z-index: 1000;
    border-radius: 0 0 10px 10px;
}

.menu ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.menu li {
    margin: 0 20px;
}

.menu a {
    text-decoration: none;
    color: var(--color-negro);
    font-weight: 600;
    transition: color 0.3s ease, border-bottom 0.3s ease;
}

.menu a:hover {
    color: var(--azul-boton-hover);
    border-bottom: 2px solid var(--tesoro);
}
