/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
    transition: background-color 0.5s ease;
}

.container {
    backdrop-filter: blur(2.4px) saturate(148%);
    -webkit-backdrop-filter: blur(2.4px) saturate(148%);
    text-align: center;
    padding-top: 20px;
    margin-top: 1rem;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.palette-style{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.color-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.color-label{
    position: absolute;
    top: -25px;
    font-weight: bold;
    color: #333;
}
.color-box{
    width: 100px; 
    height: 100px;
    border:none;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}
p {
    font-size: 18px;
    margin-bottom: 20px;
}

.copy-icon {
    cursor: pointer;
    }
    .copy-icon:hover {
    stroke: #0056b3;
    }

#color-code {
    font-weight: bold;
    color: #333;
}

button {
    padding:10px 20px;
    margin: 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007BFF;
    border-radius: 5px;
    cursor: pointer;
    border:none;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}
