/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
    transition: background-color 0.5s ease;
}

.container {
    backdrop-filter: blur(2.4px) saturate(148%);
    -webkit-backdrop-filter: blur(2.4px) saturate(148%);
    text-align: center;
    padding-top: 20px;
    margin-top: 1rem;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.palette-style{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.color-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.color-label{
    position: absolute;
    top: -25px;
    font-weight: bold;
    color: #333;
}
.color-box{
    width: 100px; 
    height: 100px;
    border:none;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}
p {
    font-size: 18px;
    margin-bottom: 20px;
}

.copy-icon {
    cursor: pointer;
    }
    .copy-icon:hover {
    stroke: #0056b3;
    }

#color-code {
    font-weight: bold;
    color: #333;
}

button {
    padding:10px 20px;
    margin: 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007BFF;
    border-radius: 5px;
    cursor: pointer;
    border:none;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}
/*Menú de la isla del color*/
.menu {
    position: fixed;          /* siempre arriba */
    top: 0;
    left: 0;
    width: 100%;              /* ocupa todo el ancho */
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    z-index: 1000;            /* queda encima de todo */
}

/* Lista horizontal */
.menu ul {
    display: flex;            /* coloca los <li> en fila */
    justify-content: center;  /* centra las opciones */
    list-style: none;         /* quita viñetas */
    margin: 0;
    padding: 0;
}

/* Estilo de cada opción */
.menu li {
  margin: 0 15px;           /* espacio entre opciones */
}

.menu a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    padding: 5px 10px;
    transition: color 0.3s ease, border-bottom 0.3s ease;
}

/* Hover estilo buscador */
.menu a:hover {
  color: #0066cc;           /* cambia color */
  border-bottom: 2px solid #0066cc; /* subrayado tipo pestaña */
}
